# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.9
        environment:
           MYSQL_HOST: 127.0.0.1
           MYSQL_DB: test
           MYSQL_USER: root
           MYSQL_ALLOW_EMPTY_PASSWORD: true
           MYSQL_PASSWORD:
      - image: circleci/mysql:5.7
        environment:
          MYSQL_USER: root
          MYSQL_ALLOW_EMPTY_PASSWORD: true

    working_directory: /go/src/github.com/paragtokopedia/go_integration_test
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-pkg-cache
      - run:
          name: Downloading dep
          command: go get -u github.com/golang/dep/cmd/dep
      - run:
          name: Installing dependencies with dep
          command: dep ensure -vendor-only -v
      - save_cache:
          key: v1-pkg-cache
          paths:
            - "/go/pkg"
      - run:
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run: sudo apt-get update && apt-get install -y mysql-client
      - run:
          name: Setup DB
          command: mysql -u root < files/database/init.sql
      - run:
          name: Populate Test data
          command: mysql -u root < files/database/test_data.sql

      - run: go test -integration -v ./...